# Adds print macros such as start print and end print.

######################################################################
# Start Print and End Print
######################################################################

# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT.

[gcode_macro START_PRINT]
gcode:
  G90 #Absolute Positioning
  SET_GCODE_OFFSET Z=0.0 # Reset the G-Code Z offset (adjust Z offset if needed)
  #Rebuild mesh every 10 prints.
  {% set svv = printer.save_variables.variables %}
  M117 Print job {svv.print_count}
  # home all
  G28
  BED_MESH_PROFILE LOAD=p1
  SAVE_VARIABLE VARIABLE=print_count VALUE={svv.print_count + 1}
  {% if svv.print_count % 10 == 0 %}
    M117 Rebuilding mesh
    G29
  {% endif %}
	
#End START_PRINT


[gcode_macro END_PRINT]
gcode:
  # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
	M83 # E relative
	G0 X0 Y240 E-3 F3000 # Retract and present print
  G91 #Relative Positioning
  G0 Z10 F3000 # Raise nozzle by 10mm
  G90 #Absolute Positioning
  M84 X Y E # Disable all but Z
  
######################################################################




######################################################################
#Pause, Resume, Cancel
######################################################################

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=PAUSE_state
  BASE_PAUSE
  G91
  G1 E-{E} F2100
  G1 Z{z_safe} F900
  G90
  G1 X{x_park} Y{y_park} F6000

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### end of definitions #####
  G91
  G1 E{E} F2100
  RESTORE_GCODE_STATE NAME=PAUSE_state
  BASE_RESUME

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
  TURN_OFF_HEATERS
  M83 # E relative
	G0 X0 Y240 E-3 F3000 # Retract and present print
  G91 #Relative Positioning
  G0 Z10 F3000 # Raise nozzle by 10mm
  G90 #Absolute Positioning
  M84 X Y E # Disable all but Z
  CLEAR_PAUSE
  SDCARD_RESET_FILE
  BASE_CANCEL_PRINT



######################################################################
#Bed Mesh
######################################################################

[gcode_macro G29]
gcode:
 BED_MESH_CALIBRATE
 BED_MESH_PROFILE SAVE=p1
 G1 X0 Y0 Z5 F5000